

<h5 class="mb-1">{{positionEntrys}}</h5>


<div class="list-group" *ngFor="let position of positions ">
    <a  class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{position.time}}</h5>
        <button (click)="delete(position)" class="btn btn-danger">Delete</button>
        
      </div>
      <p class="mb-1">lat:{{position.lat}}</p>
      <p class="mb-1">lng:{{position.lng}}</p>
      
    </a>

     
 
  </div>
  <hr>
  <button (click)="sortArray()"  class="btn btn-primary" >Sort Positions</button>  