
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">New Pos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="positions">Positions</a>
        </li>
    
   
      </ul>
     
    </div>
  </div>
</nav>





<div class="container">
  <div class="p-3 mb-3 bg-light rounded-3">
    <div class="container-fluid py-5 text-center">
      <h1 class="display-5 fw-bold">{{title}}</h1>
    </div>
  </div>

<hr>
<router-outlet></router-outlet>


<hr>



</div>
