

<div class="card">
    <div class="card-header">
    
    
        <h5>Create new Position</h5>
    
    </div>
    
    <div class="card-body">
        <form>
            <!--id-->
            <div class="row mb-2">
            <!--timestamp-->
            
            <label class="form-label">Timestamp</label>
            
            <input [(ngModel)]="position.time" name="timestamp" class="form-control"/>
            
            
            </div>
            
            
            
            
            <div class="row mb-2">
            <div class="col-6">
            <!--lat-->   
            <label class="form-label">Lat: </label>
            <input [(ngModel)]="position.lat" name="Lat" class="form-control"/>
            
            </div>
            
            <div class="col-6">
            <!--lng-->    
            <label class="form-label">Lng: </label>
            <input [(ngModel)]="position.lng" name="Lng" class="form-control"/>
            
            </div>
            
            
            </div>
            
            
            
            
            </form>
    
    
    
    </div>
    
    
    
    <div class="card-footer">
    
    
    <button (click)="save()" class="btn btn-primary" >Add Position</button>    
    </div>
    <br>
    
    <button (click)="calculate()" class="btn btn-success" >Sende Daten</button>   


    <br>
            <div *ngFor="let calculation of arr_name">
                <div *ngFor="let inner of calculation; let i = index">


                    <div class="row mb-2">
                    <div *ngIf="i==0">     Start: <b>{{inner}} </b> </div>
                    <div *ngIf="i==1">     End: <b>{{inner}} </b> </div>    
                    </div>

                

                    
                    <div *ngIf="i==2">     Distance: <b>{{inner}}</b>   meter</div>
                    <div *ngIf="i==3">     Duration: <b>{{inner}} </b> meter/s</div>
                    <div *ngIf="i==4">     Time: <b>  {{inner}} </b> s</div>
                    
                   
                   
                </div>
                
           
            <hr>

            
        </div>
    
    <div>



  <div>












    
    </div>
    
    
    
    
    
    
    
    
    